<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Slices" value="32" />
    <add key="Stacks" value="32" />
    <add key="Coverage" value="0.5" />
    <add key="FishEyeFOVHorizontal" value="180.0" />
    <add key="FishEyeFOVVertical" value="180.0" />
    <add key="Coverage" value="0.5" />
    <add key="XLeft" value="0" />
    <add key="YLeft" value="0" />
    <add key="XRight" value="0" />
    <add key="YRight" value="0" />
    <add key="RollLeft" value="0" />
    <add key="RollRight" value="0" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>